go-filecoin
.task
*.coverprofile
*.out
*.so
.idea
gengen/gengen
gengen/gensetup
fixtures/*.key
fixtures/gen.json
fixtures/genesis.car
tools/faucet/faucet
tools/aggregator/aggregator
tools/genesis-file-server/genesis-file-server
proofs/misc/parameters.json
proofs/bin/paramfetch
proofs/bin/paramcache
proofs/bin/paramfetch
proofs/include/libfilecoin_proofs.h
proofs/lib/libfilecoin_proofs.a
proofs/lib/pkgconfig/libfilecoin_proofs.pc
proofs/misc/
bls-signatures/include/libbls_signatures.h
bls-signatures/lib/libbls_signatures.a
bls-signatures/lib/pkgconfig/libbls_signatures.pc
