go-filecoin
!cmd/go-filecoin 
!internal/app/go-filecoin 

.task
.idea
*.coverprofile
*.out
*.so

fixtures/test
!fixtures/test/.gitkeep
fixtures/live
!fixtures/live/.gitkeep

// Tools 
tools/gengen/gengen
tools/gengen/gensetup
tools/fast/bin/localnet
tools/faucet/faucet
tools/aggregator/aggregator
tools/genesis-file-server/genesis-file-server
tools/migration/go-filecoin-migrate
tools/prerelease-tool/prerelease-tool
tools/chain-util/chain-util
**/paramcache
**/*.h
**/*.a
**/*.pc

// IDE (vscode)
.vscode
debug.test
