go-filecoin
.task
*.coverprofile
*.out
*.so
.idea
gengen/gengen
gengen/gensetup
fixtures/test
!fixtures/test/.gitkeep
fixtures/live
!fixtures/live/.gitkeep
tools/fast/bin/localnet
tools/faucet/faucet
tools/aggregator/aggregator
tools/genesis-file-server/genesis-file-server
tools/migration/go-filecoin-migrate
tools/prerelease-tool/prerelease-tool
proofs/misc/parameters.json
proofs/bin/paramcache
proofs/bin/paramfetch
proofs/misc/
**/*.h
**/*.a
**/*.pc
